# Notebook for Homework 1

In [1]:
# Preliminary Codes -- DO NOT CHANGE ANYTHING IN THIS SECTION
import random, pickle
import numpy as np
import sys 
import hwk1
from hwk1 import *

## Problem Set 1 - Basic Arithmetic and String Manipulation

In [2]:
print(welcomeMessage)

Welcome to Homework 1!
    This homework is designed to test your understanding of Python basics.
    Please answer the questions in the homework by filling in the variables q1, q2, etc.
    Each time you fill in a variables, run the saveResults() function to save your answers.
    Good luck!

In [3]:
# Q1 - Concatenate the following strings with a space between them (do not change the name - for now, let's assume that your name is John Doe).

string_1 = 'Hello my name is'
string_2 = 'Dmitri Svetlov'

try:
    hwk1.q1 = '%s %s' % (string_1, string_2)
except:
    print('there was an error in Q1')
    print('the error message was:', sys.exc_info())
    pass

# The above illustrates the use of a try-except block to prevent the code from crashing if the answer is not provided. You will
# need to add thee try/except blocks to all questions if you want to run the code without fixing all errors.

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'XXX', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [4]:
# Q2 = Convert the following string so that all letters are now in uppercase.
string_2 = 'i would like to be uppercase'

# Make your changes below. Do not change the name of the variable above.
hwk1.q2 = string_2.upper()

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [5]:
# Q3 - use string formatting to construct the following string: 
# "I bought [number] [fruit] on [day]." where:
#     [number] is replaced with the number value of the variable "number",
#     [fruit] is replaced with the string value of the variable "fruit",
#     [day] is replaced with the string value of the variable "day",
#
# Your random variables (which will change each time you restart this notebook) are:
print(number)
print(fruit)
print(day)

# Make your changes below here. Do not change the variable names above.
hwk1.q3 = 'I bought %d %s on %s.' % (number, fruit, day)

saveResults()

25
apples
Saturday
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [6]:
# Q4 - count the number of a's in the string "string_4"
print(string_4)

# Make your changes below here. Do not change the variables above.
hwk1.q4 = string_4.count('a')

saveResults()

An alacritous abalone accelerates along an alarming aquatic ascent.
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [7]:
# Q5 - Strip "string_5" to remove all spaces and return the result as 'q5'
print(string_5)

# Make your changes below here. Do not change the variables above.
hwk1.q5 = string_5.replace(' ', '')

saveResults()

A                       large space was here.
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [8]:
# Q6 - How long is the string "string_6"?

# Make your changes below here. Do not change the variables above.
hwk1.q6 = len(string_6)

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [9]:
# Q7 - Write a STRING that contains the value of pi^[nPower]. 
# Use exponent form to the 3rd decimal point (e.g., 2.500e+00).
pi = np.pi
print(pi)
print(nDigits)
print(nPower)

# Make your changes below here. Do not change the variables above.
hwk1.q7 = '%.3e' % (np.power(pi, nPower))

saveResults()

3.141592653589793
6
3
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

## Problem Set 2 - Iterables, Slicing, and Sets

In [10]:
# Q8 - Consider the numbers in the list "xData", and compute their average.
print(xData)

# Make your changes below here. Do not change the variables above.
hwk1.q8 = np.mean(xData)

saveResults()

[55.41761939024887, 30.429431372880135, 73.87875696659373, 64.67182595415373, 81.10148410294363, 73.08378501772802, 51.90614365321225, 65.22062505241661, 53.98699349139046, 48.70184708638538, 62.61161618495426, 41.22414594007201, 13.116864478898393, 50.91893143014591, 54.050684396292084, 32.994680520313324, 47.90044846173287, 36.274240084999086, 3.6806599980324317, 22.07481220336388]
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.16227978933785, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [11]:
# Q9 - What's the last entry in the list "xData".  Get this by slicing the list.
print(xData)

# Make your changes below here. Do not change the variables above.
hwk1.q9 = xData[-1]

saveResults()

[55.41761939024887, 30.429431372880135, 73.87875696659373, 64.67182595415373, 81.10148410294363, 73.08378501772802, 51.90614365321225, 65.22062505241661, 53.98699349139046, 48.70184708638538, 62.61161618495426, 41.22414594007201, 13.116864478898393, 50.91893143014591, 54.050684396292084, 32.994680520313324, 47.90044846173287, 36.274240084999086, 3.6806599980324317, 22.07481220336388]
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.16227978933785, 'q9': 22.07481220336388, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [12]:
# Q10 - Convert between lists and sets to remove duplicate entries from the list "List10"
print(List10)

# Make your changes below here. Do not change the variables above.
hwk1.q10 = list(set(List10))

saveResults()

['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries']
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.16227978933785, 'q9': 22.07481220336388, 'q10': ['apples', 'pears', 'blueberries', 'bananas', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [13]:
# Q11 - Combine the lists 'Student_IDs' and 'Student_names' into a dictionary keyed by the IDs. 
# i.e. Create a dictionary with pairs of { ID : student name }
print(Student_IDs)
print(Student_names)

q11 = dict()
for idx in range(len(Student_IDs)):
    q11[Student_IDs[idx]] = Student_names[idx]

# Make your changes below here. Do not change the variables above.
hwk1.q11 = q11

saveResults()

[1, 2, 3, 4, 5]
['Jim', 'John', 'Jenna', 'Jamal', 'Jaden']
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.16227978933785, 'q9': 22.07481220336388, 'q10': ['apples', 'pears', 'blueberries', 'bananas', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [14]:
# Q12 - Slice to get every other entry in the list 'List12'
print(List12)

# Make your changes below here. Do not change the variables above.
hwk1.q12 = List12[::2]

saveResults()

[1, 2, 3, 4, 5, 6, 7, 8]
Your answers so far are:
{'q1': 'Hello my name is Dmitri Svetlov', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 25 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.16227978933785, 'q9': 22.07481220336388, 'q10': ['apples', 'pears', 'blueberries', 'bananas', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 3, 5, 7]}